{% extends "votacao/base.html" %}
{% block sidebar %}
{% if request.user.is_superuser  %}
<a href="{% url 'votacao:criarquestao' %}">Criar nova questão</a>
{%endif%}

{% if request.user.is_authenticated %}
    {% if latest_question_list %}
<ul>
    {% for questao in latest_question_list %}
    <li>
        <a href="{% url 'votacao:detalhe' questao.id %}">
            {{ questao.questao_texto }}
        </a>

    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nao há questoes disponiveis.</p>
{% endif %}
{% endif %}
{%endblock%}

