<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questões</title>
</head>
<body>

<h1>Não está logado</h1>
<a href="{% url 'votacao:criarquestao' %}">
        Criar nova questão
        </a>
{% if latest_question_list %}
<ul>
    {% for questao in latest_question_list %}
    <li>
        <a href="{% url 'votacao:detalhe' questao.id %}">
            {{ questao.questao_texto }}
        </a>

    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nao ha questoes disponiveis.</p>
{% endif %}

<h1>Login:</h1>
<p>Username:</p>
<p>Password:</p>
<a href="">login</a>
</body>
</html>