<html>
<head>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'votacao/style.css' %}" />
      <title>
     Pagina de Diam
 </title>
    <img src="https://www.iscte-iul.pt/assets/files/2020/11/20/1605875888912_rgb_iscte_pt_horizontal_positive__2_.png" width="500" height="100" class="image">
</head>
<body>
    {% load static %}
    <div class ="registo">
        <h1>Novo Utilizador:</h1>
        <form method="post" enctype="multipart/form-data" action="registo">
            {% csrf_token %}
            <label>Username:</label>
            <input type="text" name="username" id="username" value="" /> <br>
            <label>Password:</label>
            <input type="password" name="pass" id="pass" value="" /><br>
            <label>E-mail:</label>
            <input type="text" name="email" id="email" value="" /><br>
            <label>Curso:</label>
            <input type="text" name="curso" id="curso" value="" /><br>
            <label>Foto de perfil:</label>
            <input type="file" name="myfile"><br>
            <input type="Submit" value="Registar" />
        </form>
        <a class="voltar" href="/votacao">voltar</a>
    </div>
</body>
</html>